/.EnumerationsInPackage.java._trace
/.PatternProviderAll.java._trace
/.PrimitivesInPackage.java._trace
/.RelationshipsInPackage.java._trace
/.ClassInPackage.java._trace
/.OnlyContainerPackage.java._trace
/.ClassesInPackage.java._trace
/.FindPackageInLayer.java._trace
/.NotOnlyContainerPackage.java._trace
/.FindPackagesForModules.java._trace
/.FindPackagesInLayer.java._trace
/.FindUIRelevanetPackages.java._trace
/.FindUIRelevantPackages.java._trace
/ClassesInPackage.java
/EnumerationsInPackage.java
/FindPackagesInLayer.java
/FindUIRelevantPackages.java
/NotOnlyContainerPackage.java
/PatternProviderAll.java
/PrimitivesInPackage.java
/RelationshipsInPackage.java
