/.JClassQuery.java._trace
/.PatternProvider.java._trace
/JClassQuery.java
/.UIBase.java._trace
/.UIBaseQuery.java._trace
/.JModelQuery.java._trace
/.JPackageQuery.java._trace
/.JPackageToUIModuleQuery.java._trace
/.Test.java._trace
/.FindPackageInLayer.java._trace
/.OnlyContainerPackage.java._trace
/.CountPrimitivesInPackage.java._trace
/.PackageHierarchy.java._trace
/.JUIFilterQuery.java._trace
/.JClassWithGuardConditionQuery.java._trace
/.FindMenuItemForFilter.java._trace
/.FindMenuItemWithParent.java._trace
/FindMenuItemForFilter.java
/FindMenuItemWithParent.java
/JClassWithGuardConditionQuery.java
/JModelQuery.java
/JPackageToUIModuleQuery.java
/JUIFilterQuery.java
/PatternProvider.java
/.JRoleQuery.java._trace
/.FindSuperForClass.java._trace
/.FindDexcendantForClass.java._trace
/.FindDescendantsForClass.java._trace
/.JAttributeQuery.java._trace
/.FindCorrespondingType.java._trace
/.PsmToUiTrace.java._trace
/FindCorrespondingType.java
/FindDescendantsForClass.java
/JAttributeQuery.java
/JRoleQuery.java
/.JOperationWithGuardQuery.java._trace
/.JParameterWithGuardQuery.java._trace
/.ResultJParameter.java._trace
/.ResultViewForUIAction.java._trace
/.ParamViewForUIAction.java._trace
/.ListViewForUIClass.java._trace
/.ClassViewForUIClass.java._trace
/.AttributeGroupQuery.java._trace
/.DomainJModelQuery.java._trace
/.RepresentUserJClassQuery.java._trace
/.RepresentsUserJClassQuery.java._trace
/.MenuRootChildren.java._trace
/.MainMenuQuery.java._trace
/DomainJModelQuery.java
/UIBaseQuery.java
/AttributeGroupQuery.java
/ClassViewForUIClass.java
/JOperationWithGuardQuery.java
/JParameterWithGuardQuery.java
/ListViewForUIClass.java
/MainMenuQuery.java
/MenuRootChildren.java
/ParamViewForUIAction.java
/PsmToUiTrace.java
/RepresentsUserJClassQuery.java
/ResultJParameter.java
/ResultViewForUIAction.java
/.AlreadyTransformed.java._trace
/AlreadyTransformed.java
/.JPackageToUIModuleQueryForModify.java._trace
/.JUIFilterQueryForModify.java._trace
/.JOperationWithGuardQueryForModify.java._trace
/.DomainJModelQueryForModify.java._trace
/.JInfoQuery.java._trace
/.JInfoQueryForModify.java._trace
/.JClassWithGuardConditionForModifyQuery.java._trace
/.JClassWithGuardConditionQueryForModify.java._trace
/.JRoleQueryForModify.java._trace
/.FindMenuItemWithParentForModify.java._trace
/.JParameterWithGuardQueryForModify.java._trace
/.JParameterViewFieldQuery.java._trace
/.JAttributeQueryForModify.java._trace
/.JRoleViewFieldQuery.java._trace
/DomainJModelQueryForModify.java
/JInfoQuery.java
/JInfoQueryForModify.java
/JPackageToUIModuleQueryForModify.java
/JUIFilterQueryForModify.java
/FindMenuItemWithParentForModify.java
/JAttributeQueryForModify.java
/JOperationWithGuardQueryForModify.java
/JParameterViewFieldQuery.java
/JParameterWithGuardQueryForModify.java
/JRoleQueryForModify.java
/JRoleViewFieldQuery.java
/JClassWithGuardConditionQueryForModify.java
/.JAttributeGroupQuery.java._trace
/.JAttributeViewFieldQuery.java._trace
/.FindDescendantsForClassWithJClass.java._trace
/.JAttributeGroupQueryForModify.java._trace
/.JAttributeInJGroupViewFieldQuery.java._trace
/.JAttributeViewFieldQueryForModify.java._trace
/FindDescendantsForClassWithJClass.java
/JAttributeGroupQuery.java
/JAttributeGroupQueryForModify.java
/JAttributeInJGroupViewFieldQuery.java
/JAttributeViewFieldQueryForModify.java
/.FindMenuItemToSetParent.java._trace
/.HasUuid.java._trace
/.FindViewFieldForComponentType.java._trace
/.FindOppositeForRole.java._trace
/FindMenuItemToSetParent.java
/FindOppositeForRole.java
/HasUuid.java
/FindViewFieldForComponentType.java
